All Outings

<ul>
   <% Course.all_as_objects.each do |course| %>
     <li>Course ID -<%= course.id %>  Course Name -<%=course.name%></li>
   <% end %>
</ul>

<ul>
   <% Outing.all_as_objects.each do |outing| %>
  
     <li>Outing ID -<%= outing.id %>  Course ID -<%=outing.course_id%>   Golfer ID -<%=outing.golfer_id%>  Front 9 Score -<%=outing.front_9_score%>  Back 9 Score -<%=outing.back_9_score%></li>
   <% end %>
</ul>

<ul>
  <a href="/homepage">Home</a>
</ul>